* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P";
}

header {
  background: url(images/elena-prokofyeva-17909.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: hsl(196, 45%, 47%);
  font-weight: bold;
}

button {
    background-color: #35ABB3;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 25px;
    width: 100px;
}

button:hover {
    background-color: #A9A9A9;
    color: white;
}

input[type=submit] {
    background-color: #35ABB3;
    font-size: 16px;
    border: none;
    width: 120px;
    color: white;
    padding: 25px 25px 25px 25px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    position: right;
    width: 50%;
    height: 75px;
    padding: 25px 25px 25px 25px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin: 25px 25px 25px 25px;
    resize: none;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}

form[id=create-room] {
  align: right;
}
